@import url(http://fonts.googleapis.com/css?family=Roboto:300, 400, 100&subset=latin, cyrillic);
    @import url(http: //fonts.googleapis.com/css?family=Roboto+Condensed:400, 300, 700&subset=latin, cyrillic);
    article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}
@font-face{
    font-family:twizoom;
    src:url(../fonts/twizoom.eot?7949684);
    src:url(../fonts/twizoom.eot?7949684#iefix) format('embedded-opentype'),
    url(../fonts/twizoom.woff?7949684) format('woff'),
    url(../fonts/twizoom.ttf?7949684) format('truetype'),
    url(../fonts/twizoom.svg?7949684#fontello) format('svg');}
html,body{
    font-family: Calibri, san-serif;
    height:100%;
    overflow:visible;
    color:#00000;
}
[class*=" icon-"]:before, [class^=icon-]:before {
  font-family: twizoom;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
.icon-star-empty:before{content:'\e809'}
.icon-star:before{content:'\e808'}
.icon-link:before{content:'\e822'}
.icon-export:before{content:'\e835'}
.icon-picture:before{content:'\e80e'}
.icon-video:before{content:'\e80d'}
.icon-reply:before{content:'\e830'}
.icon-retweet:before{content:'\e839'}
.icon-cancel:before{content:'\e813'}
.icon-twitter:before{content:'\e8f1'}
.icon-share:before{content:'\e857'}
object, embed, audio, canvas, video, label, .ib {
    display: inline-block;
    vertical-align: top;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden], .hidden object, .hidden embed {
    display: none;
}
object, embed, div:target, :focus {
    outline: 0 none;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong, .b {
    font-weight: 700;
}
a{
  color:black;
    text-decoration: none;
}
h2{
  font-size: 1.2em;
  font-weight: normal;
  margin: 9px 0;
}
.n {
    font-weight: 400!important;
}
dfn, em, i, .i {
    font-style: italic;
}
mark {
    background: #ff0;
    color: #000;
}
code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre {
    white-space: pre-wrap;
}
q {
    quotes: "\201C" "\201D" "\2018" "\2019"}
small {
    font-size: 80%}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
    overflow: hidden;
}
figure, p, form, body {
    margin: 0;
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}
legend {
    border: 0;
    padding: 0;
}
input, textarea, button, select {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: normal;
    overflow: visible;
    text-transform: none;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
label, a, select {
    cursor: pointer;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
input[type=search] {
    -webkit-appearance: textfield;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
    cursor: pointer;
    margin: 0;
}
.ie input[type=checkbox], .ie input[type=radio] {
    margin: -3px;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
x:-o-prefocus, input[type=checkbox], x:-o-prefocus, input[type=radio] {
    margin: 2px 1px;
}
button[disabled], input[disabled] {
    cursor: not-allowed;
}
ul, ol {
    padding: 0 0 0 2em;
    margin: 0 0 1.5em;
    overflow: hidden;
    list-style: none;
    padding: 0;
}

@-webkit-keyframes PreloaderAnimation1 {
    0% {
    opacity: .2;
}
25% {
    opacity: 1;
}
50% {
    opacity: .2;
}
75% {
    opacity: .2;
}
100% {
    opacity: .2;
}
}@-moz-keyframes PreloaderAnimation1 {
    0% {
    opacity: .2;
}
25% {
    opacity: 1;
}
50% {
    opacity: .2;
}
75% {
    opacity: .2;
}
100% {
    opacity: .2;
}
}@-ms-keyframes PreloaderAnimation1 {
    0% {
    opacity: .2;
}
25% {
    opacity: 1;
}
50% {
    opacity: .2;
}
75% {
    opacity: .2;
}
100% {
    opacity: .2;
}
}@keyframes PreloaderAnimation1 {
    0% {
    opacity: .2;
}
25% {
    opacity: 1;
}
50% {
    opacity: .2;
}
75% {
    opacity: .2;
}
100% {
    opacity: .2;
}
}@-webkit-keyframes PreloaderAnimation2 {
    0% {
    opacity: .2;
}
25% {
    opacity: .2;
}
50% {
    opacity: 1;
}
75% {
    opacity: .2;
}
100% {
    opacity: .2;
}
}@-moz-keyframes PreloaderAnimation2 {
    0% {
    opacity: .2;
}
25% {
    opacity: .2;
}
50% {
    opacity: 1;
}
75% {
    opacity: .2;
}
100% {
    opacity: .2;
}
}@-ms-keyframes PreloaderAnimation2 {
    0% {
    opacity: .2;
}
25% {
    opacity: .2;
}
50% {
    opacity: 1;
}
75% {
    opacity: .2;
}
100% {
    opacity: .2;
}
}@keyframes PreloaderAnimation2 {
    0% {
    opacity: .2;
}
25% {
    opacity: .2;
}
50% {
    opacity: 1;
}
75% {
    opacity: .2;
}
100% {
    opacity: .2;
}
}@-webkit-keyframes PreloaderAnimation3 {
    0% {
    opacity: .2;
}
25% {
    opacity: .2;
}
50% {
    opacity: .2;
}
75% {
    opacity: 1;
}
100% {
    opacity: .2;
}
}@-moz-keyframes PreloaderAnimation3 {
    0% {
    opacity: .2;
}
25% {
    opacity: .2;
}
50% {
    opacity: .2;
}
75% {
    opacity: 1;
}
100% {
    opacity: .2;
}
}@-ms-keyframes PreloaderAnimation3 {
    0% {
    opacity: .2;
}
25% {
    opacity: .2;
}
50% {
    opacity: .2;
}
75% {
    opacity: 1;
}
100% {
    opacity: .2;
}
}@keyframes PreloaderAnimation3 {
    0% {
    opacity: .2;
}
25% {
    opacity: .2;
}
50% {
    opacity: .2;
}
75% {
    opacity: 1;
}
100% {
    opacity: .2;
}}
.preloader_center {
    position: absolute;
    top: 70px;
    bottom: 70px;
    left: 0;
    right: 0;
}
.preloader_center .preloader {
    margin: auto;
    position: absolute;
    top: 0;
    left: -30%;
    bottom: 0;
    right: 0;
}
.preloader {
    height: 12px;
    text-align: center;
}
.preloader .item {
    background: #29aced;
    border-radius: 100%;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    opacity: .2;
}
.preloader .item:first-child {
    margin-left: 0;
}
.preloader .item_1 {
    -webkit-animation: PreloaderAnimation1 1.5s linear infinite; 
    -moz-animation: PreloaderAnimation1 1.5s linear infinite;
    -o-animation: PreloaderAnimation1 1.5s linear infinite;
    animation: PreloaderAnimation1 1.5s linear infinite;
}
.preloader .item_2 {
    -webkit-animation: PreloaderAnimation2 1.5s linear infinite;
    -moz-animation: PreloaderAnimation2 1.5s linear infinite;
    -o-animation: PreloaderAnimation2 1.5s linear infinite;
    animation: PreloaderAnimation2 1.5s linear infinite;
}
.preloader .item_3 {
    -webkit-animation: PreloaderAnimation3 1.5s linear infinite;
    -moz-animation: PreloaderAnimation3 1.5s linear infinite;
    -o-animation: PreloaderAnimation3 1.5s linear infinite;
    animation: PreloaderAnimation3 1.5s linear infinite;
}

ul.list_5 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    margin-bottom: 28px;
    color: #ccc;
    font-size: 20px;
    font-size: 2rem;
    font-weight: 300;
}

.container-fluid {
  display: block;
  margin: 0 auto;
  width: 800px;
    position: relative;
  min-height: 100%;
}
.col-xs-12{
  padding-bottom: 120px;
}
.super__tweet__content {
  padding: 10px 10px;
  margin-right: 10px;
  background: #ffef66;
  border: 1px solid #efd705;
  border-radius: 5px;
  width: 80%;
  float: left;
}
.super__tweet__content .header{
  font-weight: bold;
}
.super__tweet__content .header span{
  color: #e2cd24;
  font-weight: normal;
}
.super__tweet__content .text{
    padding-left: 30px;
    font-size: 17px;
}
.super__tweet__content .text a {
  color: #3548ff;
}
.super__tweet__place{
  padding: 30px 10px;
  text-align: center;
}
.super__tweet__place h3{
  margin: 0;
  font-weight: normal;
}
.super__tweet__place h3 span{
  font-weight: bold;
  color: #ff0101;
}
.super__tweet__place p{
  color: #a8a8a8;
}
.super__tweet{
  margin-bottom: 5px;
}

.tweets .tweet {
  padding: 10px 10px;
  margin-right: 10px;
  border-radius: 5px;
  width: 98%;
  margin-bottom: 5px;
}
.tweets__two:nth-child(2) {
  border-bottom: 1px solid #f9faff;
  border-radius: 5px 5px 0 0;
}
.tweets__two:nth-child(3) {
  border-top: 1px solid #f9faff;
  border-radius: 0 0 5px 5px;
}
.tweets{
  background: #f9faff;
  border: 1px solid #edf0ff;
  border-radius: 5px;
}
.tweets__block{
  margin-left: 30px;
  width: 66%;
  margin-top: 20px;
}
.tweet .header{
  font-weight: bold;
}
.tweet .header span{
  color: #e4e4e4;
  font-weight: normal;
}
.tweet .text{
  padding-left: 26px;
}
.tweet .text a {
  color: #3548ff;
}
.tweet .text_top{
  padding-left: 17px;
}
.tweet .text_top a  {
  color: #3548ff;
}
.headert{
  float: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.headert a{
  text-decoration: none;
}
.headert p{
  float: left;
  margin-right: 10px;
  color: #e4e4e4;
  font-weight: bold;
}
.headert.yellow p{
  color: #e2cd24;
  margin-right: 10px;
  margin-left: 3px;
}
.headert:after {
  content: '';
  position: absolute;
  right: 0;
  width: 35px;
  height: 25px;
    background: -moz-linear-gradient(left, rgba(255, 251, 236, 0.2), #f9faff 100%);
    background: -webkit-linear-gradient(left, rgba(255, 251, 236, 0.2), #f9faff 100%);
    background: -o-linear-gradient(left, rgba(255, 251, 236, 0.2), #f9faff 100%);
    background: -ms-linear-gradient(left, rgba(255, 251, 236, 0.2), #f9faff 100%);
    background: linear-gradient(to right, rgba(255, 251, 236, 0.2), #f9faff 100%);
}
.headert.yellow{
  float: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.headert.yellow:after {
  content: '';
  position: absolute;
  right: 0;
  width: 35px;
  height: 25px;
    background: -moz-linear-gradient(left, rgba(255, 251, 236, 0.2), #ffef66 100%);
    background: -webkit-linear-gradient(left, rgba(255, 251, 236, 0.2), #ffef66 100%);
    background: -o-linear-gradient(left, rgba(255, 251, 236, 0.2), #ffef66  100%);
    background: -ms-linear-gradient(left, rgba(255, 251, 236, 0.2), #ffef66 100%);
    background: linear-gradient(to right, rgba(255, 251, 236, 0.2), #ffef66 100%);
}
.stream-item-header a{
  text-decoration: none;
}
.stream-item-header{
    display:none;
}
.tweet:hover > .stream-item-header{
    display:block;
}
.tweet:hover > .headert{
    width: 43%;
}
.super__tweet__content:hover > .stream-item-header{
    display:block;
}
.super__tweet__content:hover > .headert.yellow{
    width: 55%;
}
.header__trends h2 a {
  border-bottom: 1px dashed #ff0101;
  text-decoration: none;
  color: #ff0101;
  font-weight: bold;
}
.header__trends h2 span {
  font-weight: bold;
}
.header__trends h2 {
  padding-left: 39px;
}
.tweets__block h2 {
  padding-left: 10px;
}
.tweets__block h2 span {
  font-weight: bold;
  color: #ff0101;
}
.header__trends{
  float: left;
}
.header__trends.top{
  float: none;
}
.header__updates{
  display: block;
  margin-left: 45%;
  padding-top: 11px;
  text-decoration: none;
}
.header__updates span {
  display: block;
  position: absolute;
  margin-left: 147px;
  margin-top: -26px;
  font-size: 0.8em;
  color: red;
}
.watch__top{
  margin-left: 30px;
  margin-top: 10px;
  width: 66%;
  text-align: center;
  background: #ebeeff;
  border-radius: 3px;
  border: 1px solid #dfe5ff;
  display: block;
  margin-bottom: 5px;
  padding: 2px 0;
  text-decoration: none;
}
.top__more {
  margin-top: 5px;
  text-align: center;
  background: #ebeeff;
  border-radius: 3px;
  border: 1px solid #dfe5ff;
  display: block;
  margin-bottom: 5px;
  padding: 2px 0;
  text-decoration: none;
}

.footer {
  margin-left: 30px;
  height: 100px;
  position: absolute;
  bottom: 0;
  margin-top: 20px;
  border-top: 1px solid #edf0ff;
  padding-top: 10px;
  width: 66%;
}
.footer__menu{
  margin-top: 5px;
  margin-bottom: 6px;
}
.footer__menu p {
  display: inline;
}
.footer__menu a {
margin-right: 20px;
}
.footer__menu p.check{
  background: #f9faff;
    padding: 8px 10px;
  font-weight: bold;
  color: #ff0101;
  border: 1px solid #edf0ff;
  border-radius: 5px;
  border-bottom: none;
  margin-right: 15px;
}
.footer .forms{
  background: #f9faff;
  border: 1px solid #edf0ff;
  border-radius: 5px;
  padding: 10px 10px;
}
.footer-form input[type=text] {
  height: 32px;
  padding: 10px 27px 6px 12px;
  font-size: 14px;
  line-height: 1;
  color: #292f33;
  background-color: #FFFFFF;
  border: 1px solid #edf0ff;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}
.footer-form input[type=submit] {
  height: 32px;
  padding: 10px 20px 6px 20px;
  font-size: 14px;
  line-height: 1;
  color: #FFFFFF;
  background-color: #fe0000;
  border: 1px solid #b20000;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}
.footer-form input[type=submit]:hover{
  background-color: #DB0F0F;
  transition: all .2s ease-in-out;
}
/*******tabs**********/
.tabs {
  position: relative;
  margin: 0 auto;
  width: 800px;
}
.tabs label {
  color: #555;
  cursor: pointer;
  display: block;
  float: left;
  width: 150px;
  height: 45px;
  line-height: 45px;
  position: relative;
  top: 2px;
  text-align: center;
}

.tabs input {
  position: absolute;
  left: -9999px;
}

#tab_1:checked  ~ #tab_l1,
#tab_2:checked  ~ #tab_l2 {
  background: #fff;
  border-color: #fff;
  top: 0;
  z-index: 3;
}

.tabs_cont  {
  
}
.tabs_cont > div {
  background: #f9faff;
  border: 1px solid #edf0ff;
  border-radius: 5px;
  padding: 10px 10px;
  width: 64%;
  position: absolute;
  left: -9999px;
  top: 0;
  opacity: 0;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}
#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2 {
  position: static;
  left: 0;
  opacity: 1;
}
/****endtabs***************/