<!DOCTYPE html>
<html ng-app="zamly" ng-controller="MainController as mn">
<head>
  <title>Twitter - zamly</title>

  <base href="/" />

  <link rel="stylesheet" type="text/css" href="bower_components/ngDialog/css/ngDialog.min.css" />
  <link rel="stylesheet" type="text/css" href="bower_components/ngDialog/css/ngDialog-theme-default.min.css" />

  <link rel="stylesheet" type="text/css" href="lib/snackbarjs/snackbar.min.css" />

  <link rel="stylesheet" href="/css/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
  <link rel="stylesheet" href="/js/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
  <link rel="stylesheet" href="/js/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />

  <link rel="stylesheet" type="text/css" href="css/sociallocker.css" />
  <style type="text/css">.container-fluid{display: none;}</style>
</head>

<body>
<!--// styles //-->
    <div adapt="/templates/styles.html" break-points='[{ "postfix": "small-screen", "width": 0}, { "postfix": "big-screen", "width": 1180}]'></div>
    <!--// end styles //-->

<div class="container-fluid" >



<div class="col-xs-12 ng-view"  ><div data-ng-view=""></div></div>

<div class="footer">
  <div style="display:none" sclass="footer__menu">
    <p  class="check">Check out tweet</p>
    <a href="">About</a>
    <a href="">Contact</a>
    <p>© 2015 Zam Analytics</p>
  </div>  

  <section class="tabs">
  <input id="tab_1" type="radio" name="tab" />
  <input id="tab_2" type="radio" name="tab" />
  
  <label for="tab_1" id="tab_l1">About</label>
  <label for="tab_2" id="tab_l2">Contact</label>
  <label for="tab_5" id="tab_l5">© 2015 Zam Analytics</label>
  <div style="clear:both"></div>

  <div class="tabs_cont">
    <div id="tab_c1">
      <p>
        We provide a more vivid picture for Trends.<br><br>

Our service is designed to help you keep track of its influence in the defined Trend in the ever-growing large volume of information. We try to take into account many factors and work with large data using Twitter API. <br><br>

To know what is happening at the moment. To analyze Trends. To track every tweet.
      </p> 
    </div>
    <div id="tab_c2">
      <p>E-mail: <a href="mailto:offer@twizoom.com">offer@twizoom.com</a></p>
    </div>
  </div>
  </section>

  <div style="display:none" class="forms">
    <form novalidate class="footer-form">
     <input type="text" ng-model="linkstatus" placeholder="Paste a link tweet" />
     <input type="submit" ng-click="saveData(linkstatus)" value="Check out" />
    </form>
  </div>
</div>


<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>

<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"></script>
<script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>

<script type="text/javascript" src="bower_components/ngDialog/js/ngDialog.min.js"></script>
<script type="text/javascript" src="lib/snackbarjs/snackbar.min.js"></script>

<script type="text/javascript" src="js/zamly.js"></script>
<script type="text/javascript" src="js/zamly.config.js"></script>
<script type="text/javascript" src="js/zamly.routes.js"></script>

<script type="text/javascript" src="/js/min/adaptive.min.js"></script>

<script type="text/javascript" src="js/layout/layout.module.js"></script>
<script type="text/javascript" src="js/layout/services/tweet.service.js"></script>
<script type="text/javascript" src="js/layout/controllers/navbar.controller.js"></script>
<script type="text/javascript" src="js/layout/controllers/main.controller.js"></script>
<script type="text/javascript" src="js/layout/controllers/tweet.controller.js"></script>
<script type="text/javascript" src="js/layout/controllers/top.controller.js"></script>
<script type="text/javascript" src="js/layout/controllers/topword.controller.js"></script>
<script type="text/javascript" src="js/layout/controllers/index.controller.js"></script>
<script type="text/javascript" src="js/layout/controllers/update.controller.js"></script>
<script type="text/javascript" src="js/layout/directives/index.directive.js"></script>


<script type="text/javascript" src="js/utils/utils.module.js"></script>
<script type="text/javascript" src="js/utils/services/snackbar.service.js"></script>

<script type="text/javascript" src="/js/min/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript" src="/js/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="/js/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
<script type="text/javascript" src="/js/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
<script type="text/javascript" src="/js/min/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="/js/min/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="/js/min/sociallocker.min.js"></script>

<script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>

</body>
</html>