<div ng-show="result.$resolved">
<div class="header__trends top">
   <h2 ng-if="tweet.is_hastag">Trend analysis: <span>#{{tweet.name}}</span></h2>
   <h2 ng-if="!tweet.is_hastag">Trend analysis: <span>{{tweet.name}}</span></h2>
</div>



<div class="tweets__block" data-hastag="{{tweet.trend.is_hastag}}" data-words="{{tweet.trend.name}}"  sociallocker>
  <h2></h2>
  <div class="tweets tweets__two to-lock">
	<div class="tweet" ng-repeat="tw in tweets" data-ng-if="$index<=9" data-id="{{tw.id_tweet}}">
        <div class="headert"><p>{{tw.place}}</p><a target="_blank" href="https://twitter.com/{{tw.user_screen_name}}" class="header">{{tw.user_name}}   <span>@{{tw.user_screen_name}}</span></a></div>
        <div class="stream-item-header">
                    <a href="https://twitter.com/intent/favorite?tweet_id={{tw.id_tweet}}" class="item-favorite"><i class="icon-star"></i> Favorite</a>
                    <a href="https://twitter.com/intent/retweet?tweet_id={{tw.id_tweet}}" class="item-retweet"><i class="icon-retweet"></i> Retweet</a>
                    <a href="https://twitter.com/intent/tweet?in_reply_to={{tw.id_tweet}}" class="item-reply"><i class="icon-reply"></i> Reply</a>
                    <a target="_blank" href="https://twitter.com/share?text=Tweet included in Top {{tweets[tweets.length - 1].place}} #{{tweet.trend.name}} Trend. Learn more at https://zam.ly/status/{{tw.id_tweet}} https://twitter.com/{{tw.user_screen_name}}/status/{{tw.id_tweet}}" class="item-reply twitter-share-button"><i class="icon-share"></i> Share</a>
        </div>
	    <div class="text_top" ng-bind-html="tw.content"></div>
	</div>
  </div>
  <div class="tweets tweets__two">
	<div class="tweet" ng-repeat="tw in tweets" data-ng-if="$index>=10" data-id="{{tw.id_tweet}}">
        <div class="headert"><p>{{tw.place}}</p><a target="_blank" href="https://twitter.com/{{tw.user_screen_name}}" class="header">{{tw.user_name}}   <span>@{{tw.user_screen_name}}</span></a></div>
        <div class="stream-item-header">
                    <a href="https://twitter.com/intent/favorite?tweet_id={{tw.id_tweet}}" class="item-favorite"><i class="icon-star"></i> Favorite</a>
                    <a href="https://twitter.com/intent/retweet?tweet_id={{tw.id_tweet}}" class="item-retweet"><i class="icon-retweet"></i> Retweet</a>
                    <a href="https://twitter.com/intent/tweet?in_reply_to={{tw.id_tweet}}" class="item-reply"><i class="icon-reply"></i> Reply</a>
                    <a target="_blank" href="https://twitter.com/share?text=Tweet included in Top {{tweets[tweets.length - 1].place}} #{{tweet.trend.name}} Trend. Learn more at https://zam.ly/status/{{tw.id_tweet}} https://twitter.com/{{tw.user_screen_name}}/status/{{tw.id_tweet}}" class="item-reply twitter-share-button"><i class="icon-share"></i> Share</a>
        </div>
	    <div class="text_top" ng-bind-html="tw.content"></div>
	</div>
  </div>
  <a class="top__more" ng-click="getTop(this)" ><b>More</b></a>
</div>

</div>

<div class="preloader_center" ng-hide="result.$resolved">
	<div class="preloader">
            <div class="item item_1"></div>
            <div class="item item_2"></div>
            <div class="item item_3"></div>
    </div>
</div>