<div ng-show="result.$resolved">

<div  class="header__trends">
   <h2 >Trend analysis: <span ng-if="tweet.trend.is_hastag">#{{tweet.trend.name}}</span><span ng-if="!tweet.trend.is_hastag" >{{tweet.trend.name}}</span></h2>
</div>
<a  href="/r/{{tweet.id_tweet}}" class="header__updates">
Recommended Tweets<span>+{{tweet.notification}}</span>    
</a>

<a ng-if="tweet.trend.is_hastag" href="/{{tweet.trend.name}}/top" ng-show="result.$resolved" class="watch__top"><b>Top 10</b></a>
<a ng-if="!tweet.trend.is_hastag" href="/w/{{tweet.trend.name}}/top" ng-show="result.$resolved" class="watch__top"><b>Top 10</b></a>

<div  class="super__tweet">
	<div class="super__tweet__content" data-id="{{tweet.id_tweet}}">
		<div class="headert yellow"><p>{{tweet.place}}</p><a target="_blank" href="https://twitter.com/{{tweet.user_screen_name}}" class="header">{{tweet.user_name}}   <span>@{{tweet.user_screen_name}}</span></a></div>
		<div class="stream-item-header yellow">
                    <a href="https://twitter.com/intent/favorite?tweet_id={{tweet.id_tweet}}" class="item-favorite"><i class="icon-star"></i> Favorite</a>
                    <a href="https://twitter.com/intent/retweet?tweet_id={{tweet.id_tweet}}" class="item-retweet"><i class="icon-retweet"></i> Retweet</a>
                    <a href="https://twitter.com/intent/tweet?in_reply_to={{tweet.id_tweet}}" class="item-reply"><i class="icon-reply"></i> Reply</a>
                    <a target="_blank" href="https://twitter.com/share?text=Tweet included in Top {{tweets[tweets.length - 1].place}} #{{tweet.trend.name}} Trend. Learn more at https://zam.ly/status/{{tweet.id_tweet}} https://twitter.com/{{tweet.user_screen_name}}/status/{{tweet.id_tweet}}" class="item-reply "><i class="icon-share"></i> Share</a>
        </div>
	    <div class="text" ng-bind-html="tweet.content"></div>
    </div>
    <div class="super__tweet__place">
    	<h3>Tweet <span>Top {{tweet.round_place}}</span></h3>
    </div>
</div>

<div   class="tweets__block">
  <div class="tweets">
	<div class="tweet" ng-repeat="tw in tweets" data-id="{{tw.pk}}">
        <div class="headert"><p>{{tw.place}}</p><a target="_blank" href="https://twitter.com/{{tw.user_screen_name}}" class="header">{{tw.user_name}}   <span>@{{tw.user_screen_name}}</span></a></div>
        <div class="stream-item-header">
                    <a href="https://twitter.com/intent/favorite?tweet_id={{tw.id_tweet}}" class="item-favorite"><i class="icon-star"></i> Favorite</a>
                    <a href="https://twitter.com/intent/retweet?tweet_id={{tw.id_tweet}}" class="item-retweet"><i class="icon-retweet"></i> Retweet</a>
                    <a href="https://twitter.com/intent/tweet?in_reply_to={{tw.id_tweet}}" class="item-reply"><i class="icon-reply"></i> Reply</a>
                    <a target="_blank" href="https://twitter.com/share?text=Tweet included in Top {{tweets[tweets.length - 1].place}} #{{tweet.trend.name}} Trend. Learn more at https://zam.ly/status/{{tw.id_tweet}} https://twitter.com/{{tw.user_screen_name}}/status/{{tw.id_tweet}}" class="item-reply twitter-share-button"><i class="icon-share"></i> Share</a>
        </div>
	    <div class="text" ng-bind-html="tw.content"></div>
	</div>
  </div>
</div>  

</div>
<div class="preloader_center" ng-hide="result.$resolved">
    <div class="preloader">
            <div class="item item_1"></div>
            <div class="item item_2"></div>
            <div class="item item_3"></div>
    </div></div>